@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
}

/*HEADER*/

header{
    position: relative;
}

header .topbar{
    width: 100%;
    background-color: #4d0099;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(222, 192, 22);
    text-transform: uppercase;
    font-weight: bold;
}

header .headercontent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: beige; */
}

header .headercontent .hpart{
    width:30%;
    padding: 10px 0 0 20px;
    /* background-color: aquamarine; */
    text-align: center;
}

header .headercontent .headercallimg img{
    padding-left: 130px;
}

header .headercontent .headeroptions{
    display: flex;
}

header .headercontent .headeroptions a{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

header .navbar{
    margin: 5px 300px 5px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar a{
    font-size: 14px;
    display: inline;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 5px;
}

/*BODY*/

.container{
    background: rgb(241, 246, 251);
}

.banner{
    background: url("./images/drink1.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 100px;
}

.banner .bannercontent{
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.banner .bannercontent h2{
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.banner .bannercontent ul{
    margin-top: 20px;
}

.banner .bannercontent ul>li{
    display: inline-block;
    margin: 0 10px;
}

.banner .bannercontent .btn,
.uses .cardsection .card .btn,
.uses .btn,
.about .contbx .btn,
.applications .btn,
.blueemail .bluecont .blueinpemail .btn{
    margin-top: 20px;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(222, 192, 22);
    font-size: 0.875rem; /*14px;*/
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    border-style:  5px solid #4d0099;
}

.banner .bannercontent .btn2{
    margin-left: 30px;
    opacity: 0.5;
}

.separator{
    background-color: #4d0099;
    width: 100%;
    height: 150px;
    position: relative;;
}

.separator .part2content{
   background-color: #fff;
   width: 70%;
   height: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px; 
   position: absolute;
   top: 50px;
   left: 200px;
}

.separator .part2content .value{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    color: #4d0099;
    margin: 0 10px;
}

.separator .part2content .value p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    margin: 20px;
    text-align: center;
}

.separator .part2content .value i{
    color: #4d0099;
    border-radius: 50%;
    border: 2px solid #4d0099;
    padding: 10px;
}

.uses{
    /* background: rgb(241, 246, 251); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px;
}

.uses .precard,
.applications .precard{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-bottom: 3px solid rgb(181, 240, 55);
}

.uses .cardsection{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.uses .cardsection .card{
    background-color: #fff;
    border-radius: 15px;
    width: 270px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.uses .cardsection .card .card-image{
    height: 170px;
    background-size: cover;
    border-radius: 15px 15px 0 0;;
}

.uses .cardsection .card .car-1{
    background-image: url("./images/img1.jpg");
}

.uses .cardsection .card .car-2{
    background-image: url("./images/img2.jpg");
}

.uses .cardsection .card .car-3{
    background-image: url("./images/img3.jpg");
}

.uses .cardsection .card h2{
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.uses .cardsection .card p{
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
}

.uses .cardsection .card .btn{
    margin: 15px;
    width: 40%;
    padding: 7px 10px;
    font-size:0.75rem;
    border: none;
}

.uses .btn{
    margin-top: 40px;
    border: none;
    padding: 10px 25px;
}

.about{
    background: rgb(241, 246, 251);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px 100px 100px;
    
}

.about .imgbx,
.applications .about2 .imgbx2{
    width: 50%;
    /* height: 500px; */
    background-size: cover;
    border-radius: 15px;
    margin: 0 15px;
}

.about .imgbx img,
.applications .about2 .imgbx2 img{
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.about .contbx,
.applications .about2 .contbx2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    padding: 20px;
}

.about .contbx h2{
    font-size: 2rem;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.about .contbx p{
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    font-size: 0.75rem;
}

.about .contbx .btn{
    margin-top: 40px;
    border: none;
    padding: 10px 25px;
    width: 30%;
}

.applications{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px 100px 100px;
}

.applications .about2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 100px 100px 100px 100px;
}

.applications .about2 .contbx2 .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.applications .about2 .contbx2 .container .point1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    font-family: 'Poppins', sans-serif;
}

.applications .about2 .contbx2 .container .point1 h3{
    font-size: 1.5rem;
    font-weight: light;
    font-family: 'Poppins', sans-serif;
    color: rgba(234, 234, 16, 0.589);
}

.applications .about2 .contbx2 .container .point1 p{
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
    /* padding: 15px; */
}

.applications .about2 .contbx2 .container .waterimage{
    width: 20%;
    margin-left: 20px;
}

.applications .about2 .contbx2 .container .waterimage img{
    width: 100%;
    height: auto;
}

.applications .about2 .imgbx2 img{
    border-radius: none;
}

.applications .btn{
    margin-top: 0;
    border: none;
}

.blueemail{
    background: url("./images/blue.jpg");
    position: relative;
    width: 100%;
    padding: 60px;
}

.blueemail .bluecont{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 100px;
}

.blueemail .bluecont .bluelorem h2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
}

.blueemail .bluecont .blueinpemail input{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    padding-left: 15px;
    border-style:  5px solid #4d0099;
    margin-right: 15px;
}

.bigcardsection{
    padding: 100px 200px;
}

.bigcardsection .bigcard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigcardsection .bigcard .bigcardimg{
    width:50%;
    background-size: cover;
}

.bigcardsection .bigcard .bigcardimg img{
    border-radius:15px 0 0 15px;
    width: 400px;
    height: auto;
    
}

.bigcardsection .bigcard .bigcardtxt{
    background: rgb(92, 25, 163);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

.bigcardsection .bigcard .bigcardtxt p{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-style: italic;
    font-size: 14px;
}

.bigcardsection .bigcard .bigcardtxt h4{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.sumsection{
    background: rgb(92, 25, 163);
    padding: 50px 100px 50px 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sumsection .sumpart1{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;
    padding: 0 60px 0 0;
}

.sumsection .sumpart1 img{
    height: 50px;
    width:150px;
}

.sumsection .sumpart1 p{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 0.75rem;
    line-height: 25px;
}

.sumsection .sumpart2{
    width:20%;
    color: #fff;
}

.sumsection .sumpart2 h3{
    font-family: 'Poppins', sans-serif;
    color: #fff;      
}

.sumsection .sumpart2 .bar{
    width:30%;
    height: 2px;
    background-color:rgb(181, 240, 55);
}

.sumsection .sumpart2 ul{
    margin-top: 2rem;
}

.sumsection .sumpart2 li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    color: #fff;
    line-height: 25px;
}

.sumsection .sumpart2 li i{
    margin-right: 10px;
}

.sumsection .sumpart2 .social{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sumsection .sumpart2 .social i{
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 10px;
}

.footer{
    background-color: black;
    color: #fff;
    width: 100%;
    padding: 0.625rem; /*10px*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.footer .copy{
    width: 50%;
    padding-left: 10%;
}

.footer .by{
    width: 50%;
    padding-left: 20%;
}

.footer .by span{
    color: yellow;
    font-style: bolder;
}
